/* Style the header */
#header {
    background-color: #32CD32;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

/* Style the body */
body{
    padding-top: 15px;
    margin: 30px;
    background: rgb(163, 165, 168);
    /*background: rgb(205, 210, 216);*/
    font-family: Monospace;
}


/* Style the footer */
#footer {
    background-color: #777;
    padding: 30px;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
}

#form{
    float: left;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-right: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

form{
    background-color: rgb(30, 178, 146);
    float: left;
    padding: 20px;
    font: 95% Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

form input, select{
   float: right;
}
